* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: 0 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card {
  position: relative;
  overflow: hidden;
  width: 33%;
  margin: auto;
  /* Set width and margin as per your requirements */
  background-color: rgb(51, 115, 155);
}

.card img {
  width: 100%;
}

.portfolio {
  position: absolute;
  z-index: 1;
  left: -70px;
  top: 2.5rem;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.card:hover .portfolio {
  left: 2.5rem;
}

.portfolio a {
  padding: 10px;
  margin: 0.2rem;
  background-color: black;
  color: white;
}

.portfolio a:hover {
  background-color: rgb(51, 115, 155);
  color: white;
}

.portfolio-details {
  text-align: center;
  color: white;
  padding-top: 16px;
  padding-bottom: 2rem;
  text-transform: capitalize;
}

.portfolio-details h5 {
  font-size: 1.2rem;
}

.portfolio-details p {
  letter-spacing: 2px;
}
